#!#############################
#! LOCAL SAVE
#!#############################
*.env
*.log
*.json
*.ini
*.txt
.vscode

#!#############################
#! LOCAL IMAGE SAVE
#!#############################
data/screenshot/*