#!#############################
#! LOCAL SAVE
#!#############################
*.env
*.log
*.json
*.ini
*.txt

#!#############################
#! LOCAL IMAGE SAVE
#!#############################
data/screenshot/*